@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: #232323;
  color: #f8f8f8;
  overflow: hidden;
}

#chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 1rem;
  gap: 6px;
}

p {
  background-color: #ebebeb;
  color: black;
  padding: 0.5rem;
  border-radius: 18px;
}
