@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: #232323;
  color: #f8f8f8;
  overflow: hidden;
}

#chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

#message-container {
  height: 85vh;
  width: 97%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  background-color: #343434;
  overflow-y: auto;
  padding: 0.7rem;
  gap: 6px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.11);

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #2a2a2a;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #4a4a4a;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #5a5a5a;
  }

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #4a4a4a #2a2a2a;
}

.message-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

#name-display {
  font-size: 24px;
  font-weight: 600;
  color: rgb(234, 61, 61);
}

#online-count {
  font-size: 24px;
  font-weight: 600;
  color: rgb(76, 234, 61);
}

.online-count-p {
  position: absolute;
  right: 14px;
  top: 14px;
  font-size: 24px;
}

.name-display-p {
  margin-left: 14px;
  margin-top: 14px;
  font-size: 24px;
}

.client-message,
.server-message,
.server-notification {
  display: inline-block;
  width: fit-content;
  max-width: 45%;
  padding: 0.5rem 1rem;
  margin: 0.1rem;
  border-radius: 18px;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.client-container {
  align-self: flex-end;
  align-items: flex-end;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.server-container {
  align-self: flex-start;
  align-items: flex-start;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.client-message {
  align-self: flex-end;
  background-image: linear-gradient(
    to right,
    #538ce0,
    #4986e5,
    #407fe9,
    #3a78ed,
    #3870f0
  );
  color: rgb(255, 255, 255);
}

.server-message {
  background-color: #2a2a2a;
  color: rgb(255, 255, 255);
}

.server-notification {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.702);
}

.timestamp {
  font-size: 0.7rem;
  color: #808080;
  margin-top: 2px;
  margin-left: 3px;
}

#send-div {
  width: 100%;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #232323;
}

#send-container {
  max-width: 98%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2d;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid rgb(63, 63, 63);
  margin-bottom: 12px;
  margin-left: 1%;
  margin-right: 1%;
}

#send-container:focus-within {
  border: 1px solid rgb(110, 110, 110);
}

#message-input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 10px;
  color: white;
}
#message-input:focus ~ #send-button svg path,
#message-input:valid ~ #send-button svg path {
  fill: #3c3c3c;
  stroke: white;
}

#send-button {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
#send-button svg {
  height: 18px;
  transition: all 0.3s;
}
#send-button svg path {
  transition: all 0.3s;
}
#send-button:hover svg path {
  fill: #3c3c3c;
  stroke: white;
}
